/* .prueba a {
    color: black;
}

.btn_aviso{
  background-color: #109FDF;
  color: white;
  padding: 5px;
  margin: 3px;
  border: none;
  width: 25%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;

}
 */
