<footer class="main-footer">
  <div class="footer-content">

    <!-- Logo izquierdo -->
    <div class="footer-section left-logo">
      <a href="https://pigroup.com.mx" target="_blank">
        <img src="assets/img/redes_sociales/pi_logo.png" alt="Logo Institucional" />
      </a>

    </div>

    <!-- Redes sociales al centro -->
    <div class="footer-section social-icons">
      <a href="https://www.instagram.com/tu_pagina" target="_blank">
        <img src="assets/img/redes_sociales/instagram_logo.png" alt="Instagram" />
      </a>
      <a href="https://www.facebook.com/tu_pagina" target="_blank">
        <img src="assets/img/redes_sociales/fb_logo.png" alt="Facebook" />
      </a>
      <a href="https://www.youtube.com/tu_pagina" target="_blank">
        <img src="assets/img/redes_sociales/youtube_logo.png" alt="YouTube" />
      </a>
      <a href="https://www.whatsapp.com/tu_pagina" target="_blank">
        <img src="assets/img/redes_sociales/whatsapp_logo.png" alt="YouTube" />
      </a>
    </div>

    <!-- Logos a la derecha -->
    <div class="footer-section right-logos">
      <a href="/">
        <img src="assets/img/redes_sociales/now_logo.png" alt="Logo NOW" />
      </a>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom">
    © {{ anio }} NOW. Todos los derechos reservados.
  </div>
</footer>
